header {
    border: 1px solid #ad8bc6;
}
h3 {
    text-align: center;
    color: #ff8ad5;
    font-size: 25px;
}

.colored {
    background-color: #8125d3;
    border-radius: 2px;
    color: white;
    padding: 15px;
}